body 
  {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
  }

.bd {
      background-image: url('https://images-eu.ssl-images-amazon.com/images/I/81lZLzUsISL.jpg');

    background-size: cover;
    background-repeat:no-repeat;
    background-position:center; 
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    -ms-content-zooming: none;
    position:absolute;
    width:100%;
    height:100%;
    overflow: scroll;
    font-family: 'Scout', arial, sans-serif;
}


.p1,.p2,.p3,.p4
  {
    opacity: 0.95;
    border: 1px solid #00aeff;
    border-radius: 4px 4px 4px 4px;
    background-color: #272b24;
    font-family:verdana, Geneva, sans-serif;
    font-size:13px;
    color: white;
    padding:8px;
    margin-top:3%;
    width:auto;
  }

.button
{
  padding: 1px 85px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover 
{
  background-color: #3e8e41
}

.button:active 
{
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
